:root {
    --color: #7eff14ce;
}


/* :root {
    --grey: #7eff14ce;
} */


/* tr:nth-child(odd) td:nth-child(even){
    background-color: var(--grey);
}
tr:nth-child(even) td:nth-child(odd){
    background-color: var(--grey);
} */

tr:nth-child(odd) td:nth-child(even){
    background-color: var(--color);
}
tr:nth-child(even) td:nth-child(odd){
    --color:#808080;
    background-color: var(--color);
}